In [18]:
import pandas as pd
import matplotlib.pyplot as plt
file_path = 'ai_ml_jobs_linkedin.csv'
# ai_linkedIn_data = pd.read_csv(file_path, encoding='latin1')
ai_linkedIn_data = pd.read_csv('ai_ml_jobs_linkedin.csv')
print(ai_linkedIn_data.head())

                                               title          location  \
0                                     AI/ML Engineer      New York, NY
1                  Software Engineer - AI/ML Systems  Redwood City, CA
2                         ML Engineer at 100% Remote      San Jose, CA
3  Machine Learning Engineer (L4) - Infrastructur...     Los Gatos, CA
4                       Data Scientist / ML Engineer  Redwood City, CA

  publishedAt      companyName  \
0  2024-05-29           Wesper
1         NaN       Snorkel AI
2  2024-06-01  ELITE MENTE LLC
3  2024-05-19          Netflix
4         NaN   Paradyme, Inc.

                                         description  \
0  THE OPPORTUNITY\n\nWesper is looking for a sma...
1  We're on a mission to democratize AI by buildi...
2  Hello ,\n\nHope you are doing well!\n\nPlease ...
3  At Netflix our goal is to entertain the world....
4  Overview\n\nParadyme Management is a rapidly g...

                  applicationsCount contractType   experienceLevel  \
0               Over 200 applicants    Full-time  Mid-Senior level
1                     51 applicants    Full-time       Entry level
2  Be among the first 25 applicants    Full-time       Entry level
3               Over 200 applicants    Full-time    Not Applicable
4                    110 applicants    Full-time       Entry level

                                 workType  \
0  Engineering and Information Technology
1  Engineering and Information Technology
2  Engineering and Information Technology
3  Engineering and Information Technology
4  Engineering and Information Technology

                                              sector  applicationsCount_int
0                                Internet Publishing                    425
1                               Software Development                     51
2                            Staffing and Recruiting                     12
3  Entertainment Providers, Technology, Informati...                    425
4                      IT Services and IT Consulting                    110

In [45]:
ai_linkedIn_data['applicationsCount_int'] = ai_linkedIn_data['applicationsCount'].str.extract('(\d+)')

ai_linkedIn_data['applicationsCount_int'] = ai_linkedIn_data['applicationsCount_int'].astype(int)
#convert all application with count 25 to 12

ai_linkedIn_data.loc[ai_linkedIn_data['applicationsCount_int'] == 25, 'applicationsCount_int'] = 13
#conver applicaitonCount of 200 to 425
ai_linkedIn_data.loc[ai_linkedIn_data['applicationsCount_int'] == 200, 'applicationsCount_int'] = 425
#write count back to csv file
ai_linkedIn_data.to_csv('ai_ml_jobs_linkedin.csv', index=False)

In [38]:
#change location to one hot encoding
ai_linkedIn_data['location'] = ai_linkedIn_data['location'].str.lower()
# do one-hot encoding based on location name

one_hot_encoded = pd.get_dummies(ai_linkedIn_data['location'])

# Combine one-hot encoded columns into a single vector column
ai_linkedIn_data['location_one_hot'] = one_hot_encoded.apply(lambda row: row.values.tolist(), axis=1)

#do one hot encoding for location as a vector column


print(len(ai_linkedIn_data['location_one_hot'][0]))
#write back to csv file with new column name location_one_hot
ai_linkedIn_data.to_csv('ai_ml_jobs_linkedin.csv', index=False)

164

In [44]:
#change location to one hot encoding
ai_linkedIn_data['companyName'] = ai_linkedIn_data['companyName'].str.lower()
# do one-hot encoding based on location name

company_one_hot_encoded = pd.get_dummies(ai_linkedIn_data['companyName'])

# Combine one-hot encoded columns into a single vector column
ai_linkedIn_data['company_name_one_hot'] = company_one_hot_encoded.apply(lambda row: row.values.tolist(), axis=1)
#see the company name to it unit one hot encoding. I mean a list of company name to one hot encoding matching



print("company count ", len(ai_linkedIn_data['company_name_one_hot'][1]) + 1)
#write back to csv file with new column name location_one_hot
ai_linkedIn_data.to_csv('ai_ml_jobs_linkedin.csv', index=False)

company count  520

In [47]:


ai_linkedIn_data['contractType'] = ai_linkedIn_data['contractType'].str.lower()
# do one-hot encoding based on location name

contract_one_hot_encoded = pd.get_dummies(ai_linkedIn_data['contractType'])

# Combine one-hot encoded columns into a single vector column
ai_linkedIn_data['contract_one_hot_encoded'] = contract_one_hot_encoded.apply(lambda row: row.values.tolist(), axis=1)
#see the company name to it unit one hot encoding. I mean a list of company name to one hot encoding matching
print("contract type count count ", len(ai_linkedIn_data['contract_one_hot_encoded'][0]) + 1)
#write back to csv file with new column name location_one_hot
ai_linkedIn_data.to_csv('ai_ml_jobs_linkedin.csv', index=False)

contract type count count  6

In [49]:

ai_linkedIn_data['experienceLevel'] = ai_linkedIn_data['experienceLevel'].str.lower()
# do one-hot encoding based on location name

ex_levl_one_hot_encoded = pd.get_dummies(ai_linkedIn_data['experienceLevel'])

# Combine one-hot encoded columns into a single vector column
ai_linkedIn_data['ex_levl_one_hot_encoded'] = ex_levl_one_hot_encoded.apply(lambda row: row.values.tolist(), axis=1)
#see the company name to it unit one hot encoding. I mean a list of company name to one hot encoding matching
print("ex_levl count count ", len(ai_linkedIn_data['ex_levl_one_hot_encoded'][0]) + 1)
#write back to csv file with new column name location_one_hot
ai_linkedIn_data.to_csv('ai_ml_jobs_linkedin.csv', index=False)

ex_levl count count  8

In [50]:

ai_linkedIn_data['workType'] = ai_linkedIn_data['workType'].str.lower()
# do one-hot encoding based on location name

work_type_one_hot_encoded = pd.get_dummies(ai_linkedIn_data['workType'])

# Combine one-hot encoded columns into a single vector column
ai_linkedIn_data['work_type_one_hot_encoded'] = work_type_one_hot_encoded.apply(lambda row: row.values.tolist(), axis=1)
#see the company name to it unit one hot encoding. I mean a list of company name to one hot encoding matching
print("work type count count ", len(ai_linkedIn_data['work_type_one_hot_encoded'][0]) + 1)
#write back to csv file with new column name location_one_hot
ai_linkedIn_data.to_csv('ai_ml_jobs_linkedin.csv', index=False)

work type count count  56

In [51]:

ai_linkedIn_data['sector'] = ai_linkedIn_data['sector'].str.lower()
# do one-hot encoding based on location name

sector_one_hot_encoded = pd.get_dummies(ai_linkedIn_data['sector'])

# Combine one-hot encoded columns into a single vector column
ai_linkedIn_data['sector_one_hot_encoded'] = sector_one_hot_encoded.apply(lambda row: row.values.tolist(), axis=1)
#see the company name to it unit one hot encoding. I mean a list of company name to one hot encoding matching
print("sector count count ", len(ai_linkedIn_data['sector_one_hot_encoded'][0]) + 1)
#write back to csv file with new column name location_one_hot
ai_linkedIn_data.to_csv('ai_ml_jobs_linkedin.csv', index=False)

sector count count  157

In [85]:
ai_linkedIn_data['title'] = ai_linkedIn_data['title'].str.lower()
# do one-hot encoding based on location name

title_one_hot_encoded = pd.get_dummies(ai_linkedIn_data['title'])

# Combine one-hot encoded columns into a single vector column
ai_linkedIn_data['title_one_hot_encoded'] = title_one_hot_encoded.apply(lambda row: row.values.tolist(), axis=1)
#see the company name to it unit one hot encoding. I mean a list of company name to one hot encoding matching
print("title count count ", len(ai_linkedIn_data['title_one_hot_encoded'][0]) + 1)
#write back to csv file with new column name location_one_hot
ai_linkedIn_data.to_csv('ai_ml_jobs_linkedin.csv', index=False)

title count count  443

In [83]:
import math
time_stamp_for_nah = -9223372036854775808
ai_linkedIn_data = pd.read_csv('ai_ml_jobs_linkedin.csv')
ai_linkedIn_data['publishedAt'] = pd.to_datetime(ai_linkedIn_data['publishedAt'], errors='coerce')

# ai_linkedIn_data['publishedAt'] = ai_linkedIn_data['publishedAt'].dt.strftime('%Y-%m-%d')
#convert ai_linkedIn_data['publishedAt'] to numerical timestamp
ai_linkedIn_data['timestamp'] = ai_linkedIn_data['publishedAt'].apply(lambda x: x.timestamp() if pd.notnull(x) else None)


non_null_publishedAt = []
for t_stamp in ai_linkedIn_data['timestamp']:
    if pd.notnull(t_stamp):
        non_null_publishedAt.append(t_stamp)


average_publishedAt = sum(non_null_publishedAt)/len(non_null_publishedAt)
ai_linkedIn_data['timestamp']
#replace all null values with average_publishedAt
ai_linkedIn_data['timestamp'] = ai_linkedIn_data['timestamp'].fillna(average_publishedAt)
ai_linkedIn_data.to_csv('ai_ml_jobs_linkedin.csv', index=False)

In [86]:
#print all columns name for ai_linkedIn_data
print(ai_linkedIn_data.columns)

Index(['title', 'location', 'publishedAt', 'companyName', 'description',
       'applicationsCount', 'contractType', 'experienceLevel', 'workType',
       'sector', 'applicationsCount_int', 'location_one_hot',
       'company_name_one_hot', 'contract_one_hot_encoded',
       'ex_levl_one_hot_encoded', 'work_type_one_hot_encoded',
       'sector_one_hot_encoded', 'timestamp', 'title_one_hot_encoded'],
      dtype='object')

In [104]:
ai_linkedIn_data = pd.read_csv('ai_ml_jobs_linkedin.csv')
type(ai_linkedIn_data['contract_one_hot_encoded'])

pandas.core.series.Series